<script setup>
import Header from '../components/Header.vue'
import Details from '../components/Details.vue'
import Footer from '../components/Footer.vue'
</script>

<template>
  <main>
    <Header />
    <Details />
    <Footer />
  </main>
</template>

<style scoped>
</style>