<script setup>
import Header from '../components/Header.vue'
import Home from '../components/Home.vue'
import Footer from '../components/Footer.vue'
</script>

<template>
  <main>
    <Header />
    <Home />
    <Footer />
  </main>
</template>

<style scoped>
</style>
