<template>
  <h1 class="h">404</h1>
  <br>
  <h3 class="s">Not Found</h3>
  <br>
  <h4 class="r">The requested URL was not found on this server.</h4>
</template>
  
  <style>

  h1, h3, h4 {
    color: white;
  }
  
  </style>
  