<template>
  <header>
    <div class="header-content">
      <img alt="logo" class="pict" :src="`src/assets/${bookId}.jpg`" />
      <div class="info" v-if="book">
        <h1>Naslov: {{ book.title }}</h1>
        <h2>Autor: {{ book.author }}</h2>
        <h3>Žanrovi: {{ book.genres.join(', ') }}</h3>
        <div class="description-box">
          <h3>Opis: {{ book.description }}</h3>
        </div>
      </div>
    </div>
  </header>
</template>

<script setup>
import { useRouter } from 'vue-router';
import { ref } from 'vue';

const router = useRouter();
const book = ref(null);
const books = [
  { title: 'Na rubu ludila', image: '52c530a6-8d2a-4907-93db-af6a140ca479', genres: ['triler', 'misterija'], author: 'Joy Fielding', description: 'Našavši se usred noćne more, preplašena i zbunjena luta bostonskim ulicama u krvlju natopljenoj haljini i s 10.000 dolara u džepu. Njezin je život postao zrakoprazan prostor, a njezina prošlost je iščezla… ili je ukradena. Jedino preostalo su uznemirujući stranac koji tvrdi da je njezin suprug, šapatom izgovorene glasine o mrtvom djetetu kojeg se ne sjeća… i užasan predosjećaj da će joj se uskoro dogoditi nešto strašno…' },
  { title: 'Djevojka iz močvare', image: 'djevojka', genres: ['roman', 'misterija'], author: 'Delia Owens', description: 'Godinama su glasine o djevojci iz močvare, Kyi Clark, opsjedale Barkley Cove, mirni gradić na obali Sjeverne Karoline. Nakon smrti mladića Chasea Andrewsa 1969. godine, lokalno stanovništvo brzo je uperilo prst u Kyu kao krivca. No, Kya nije onakva kakvom je ljudi smatraju - preživjela je napuštanje obitelji i odrasla je u izolaciji močvare. Kada je privukla pažnju dvojice mladića, Kya se otvorila novom životu, ali tada se događa nešto neočekivano.' },
  { title: 'Koliba', image: 'koliba', genres: ['roman', 'triler'], author: 'William P. Young', description: 'Najmlađa kćer Macka Mackenzia Missy oteta je za vrijeme obiteljskog ljetovanja. Dokaz da je brutalno ubijena pronađen je  u nekoj napuštenoj kolibi u divljini Oregona. Četiri godine kasnije, ožalošćeni Mack prima nevjerojatnu poruku, kojom ga se poziva da posjeti onu istu kolibu. Unatoč svojim dvojbama Mack  jedno zimsko prijepodne odlazi tamo i doživljava najmračniju moru. Ono što će pronaći u kolibi, zauvijek će promijenit njegov život.' },
  { title: 'Sedam sestara', image: 'sestre', genres: ['ljubav', 'drama'], author: 'Lucinda Riley', description: 'Maja D’Apliese i njezinih pet sestara okupljaju se u domu iz djetinjstva Atlantidi – veličanstvenom izoliranom dvorcu na obali Ženevskog jezera – pošto prime vijest o smrti voljenoga oca koji ih je sve posvojio kao dojenčad. Svaka među njima dobit će primamljiv trag na putu prema pravom podrijetlu.' },
  { title: 'Prije nego što odeš', image: 'prije', genres: ['ljubav'], author: 'Clare Swatman', description: 'Neki ljudi gledaju u lice ljubavi godinama prije nego što je nađu. Zoe i Ed upoznali su se na studiju. Zajedno su ušli u svijet odraslih, ali trebalo je vremena da se njihova romansa ostvari. Jednom kad se dogodi, njihova budućnost izgleda sigurno. Onda se dogodi nezamislivo.' },
  { title: 'Crna kuća', image: 'kuca', genres: ['fantazija', 'drama'], author: ' Peter Straub i Stephen King', description: 'Čini se da je cijela kuća obojena u crno – ne samo daske, već svaki pedalj vanjštine, trijem, oluci, pa čak i prozori. Sve je crno, od temelja do vrha krova. A to ne može biti moguće; u ovom bezazlenom, dobronamjernom kutku svijeta, čak ni najporemećeniji čovjekomrzac od graditelja ne bi kuću pretvorio u njenu vlastitu sijenu... zar ne?' },
  { title: 'Gole kosti', image: 'GoleKosti', genres: ['horror'], author: 'Stephen King', description: 'Knjiga koja je obavezna literatura za svakog ljubitelja Stephena Kinga. Dvadeset i dvije priče koje sežu od samih početaka Kingove karijere pa do pripovijetki nastalih davno nakon što se proslavio pružaju uvid u rast i razvoj jednog od najvećih horror-majstora današnjice.' },
  { title: 'Zavesti nasljednicu', image: 'zavesti', genres: ['ljubav'], author: 'Susanna Craig', description: 'Neodoljiva priča smještena na daleke Karibe u kojoj se isprepliću sudbine svojeglave mlade nasljednice i zgodnog kapetana koji pažljivo čuva tajne o svojoj prošlosti. Nakon što je njezin voljeni otac umro, Tempest Holderin čini sve kako bi ispunila njegovu posmrtnu želju da oslobodi sve robove kad naslijedi djedovu plantažu šećera. ' },
  { title: 'Zaljubljen u kradljivicu', image: 'kradljivica', genres: ['ljubav', 'drama', 'povijest'], author: 'Susanna Craig', description: 'Uzbudljiva priča smještena u Englesku krajem 18. stoljeća o osramoćenoj ženi koja se skriva od vlastitog braka – u dobru i u zlu... Sarah Pevensey nadala se da bi njezin ugovoreni brak sa St. Johnom Sutliffeom, vikontom od Fairfaxa, jednoga dana mogao prerasti u ljubav. Ali prije nego što se to uspjelo dogoditi, njihov brak okončan je skandalom koji je zaprepastio londonsko visoko društvo.' },
  { title: 'Lažne prijateljice', image: 'prijateljice', genres: ['ljubav', 'drama'], author: 'Jane Fallon', description: 'Amy je mislila da zna sve o najboljoj prijateljici Melissi. No mislila je i da će se uskoro udati za svog zaručnika s kojim je u vezi na daljinu. Sve dok ga ne odluči iznenaditi u njihovu domu u London. Jack nije kod kuće, ali sve u njihovu stanu upućuje na to da u njemu boravi druga žena. Stvari koje Amy nađe u stanu neobično su joj poznate… ' }
];

const bookId = router.currentRoute.value.params.id;

const matchedBook = books.find(book => book.image === bookId);
if (matchedBook) {
  book.value = matchedBook;
}

</script>

<style scoped>
.header-content {
  display: flex;
  align-items: center;
}

.pict {
  margin-top: 4%;
  width: 22%;
  height: auto; 
  margin-left: 16%;
}

.info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5%; 
  margin-left: 8%;
}

h1, h2, h3 {
  color: white;
}

.description-box {
  border: 0px solid white;
  width: 75%; 
}

</style>
