<template>
  <footer>
    <div class="header-content">
      <p class="title">Uživajte u čitanju !</p>
    </div>
  </footer>
</template>

<style scoped>
footer {
  background-color: blue;
  color: #fff;
  padding: 0px;
  text-align: right;
  width: 100%;
  margin-top: 4.1%;
}

.header-content {
  display: flex;
}

.title {
  font-size: 23px;
  margin-left: 44.5%;
}

</style>
