<template>
  <header>
    <div class="header-content">
      <p class="title">Knjige za sve !</p>
      <p class="current-date">Današnji datum je: &nbsp {{ currentDate }}</p>
    </div>
  </header>
</template>

<script>

export default {
  data() {
    return {
      currentDate: ''
    };
  },
  created() {
    this.updateCurrentDate();
  },
  methods: {
    updateCurrentDate() {
      const today = new Date();
      const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      this.currentDate = today.toLocaleDateString('hr-HR', options);
    },
  },
};
</script>

<style scoped>
header {
  background-color: blue;
  color: #fff;
  padding: 0px;
  text-align: right;
  width: 100%;
  margin: 0;
}

.header-content {
  display: flex;
}

.title {
  font-size: 23px;
  margin-left: 44.5%;
}

.current-date {
  font-size: large;
  margin-top: 1.5%;
  margin-left: 25%;
}
</style>
